.ap_navi_button a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.ap_navi_button a {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 6px 12px;
	font-size: 16px;
	color: #666;
	text-decoration: none;
	white-space: nowrap;
}
.ap_navi_button a:hover,
.ap_navi_button a:active {
	background: #ccc;
	color: #fff;
	text-decoration: none;
}
.ap_navi_button a.prev {
	left: -10px;
}
.ap_navi_button a.next {
	right: -10px;
}